*{
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(247, 70, 70);
  overflow-x: hidden;
}
.miad01{
    height: 100vh;
    width: 400px;
}

.Div01 {
    height: 658px;
    width: 250px;
    background-color: black;
    display: inline;
    margin-left: 90px;
    position: fixed;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
}
.c001 {
    text-align: center;
    font-size: 19px;
}
.c001 a {
    text-decoration: none;
}
.miadhome{
    height: 500px;
    width: 100%;
    background-color: white;
    margin-top: 30px;
}
.image01{
    text-align: end;
}
.c0012{
    text-align: start;
    position: relative;
    bottom: 190px;
    left: 100px;
    font-size: xx-large;
}
.h001{
    color: brown;
}
.AAp001{
    display: flex;
    flex-direction: row;
    position: relative;
}
.Ab001{
    padding-top: 20px;
    padding-left: 220px;
    padding-right: 158px;
    padding-bottom: 20px;
    background-color: cadetblue;
    color: white;
}
.Ab002{
    padding-top: 20px;
    padding-left: 190px;
    padding-right: 220px;
    padding-bottom: 20px;
    background-color: darksalmon;
}
.text01{
    font-size: x-large;
    color: rgba(16, 17, 17, 0.904);
}
.text02{
    font-size: x-large;
    color: rgba(0, 0, 0, 0.904);
}
.About01{
    height: 500px;
    width: 950px;
    background-color: white;
    margin-left: 390px;
    margin-bottom: 60px;
}
.About03{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 2em;
    padding-bottom: 30px;
}
.p001{
    float: right;
    text-align: center;
    position: relative;
    top: 50px;
    right: 90px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.D002{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.pp03 {
    animation: moveUp 5s 1;
}
@keyframes moveUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-60%);
    }
  }
.experienceo1{
    height: 500px;
    width: 950px;
    background-color: white;
    margin-left: 390px; 
    padding-top: 20px;
    padding-left: 20px;  
}
.Etexto1{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 2em;
    padding-bottom: 30px;
}
.Econtainer{
    display: flex;
    flex-wrap: wrap;
}
.Echillred{
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    border: 2px solid rgb(219, 178, 43);
    border-top: none;
    border-right: none;
}
.Econtainer02{
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    border: 2px solid rgb(219, 178, 43);
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.Econtainer h4{
    font-size: xx-large;
    padding-bottom: 20px;
    font-family: ğ‘»ğ’šğ’‘ğ’† ğ’”ğ’ğ’ğ’†ğ’•ğ’‰ğ’Šğ’ğ’ˆ ğ’•ğ’ ğ’”ğ’•ğ’‚ğ’“ğ’•;
    color: rgb(72, 112, 109);
}
.experience01{
    height: 530px;
    width: 950px;
    background-color: white;
    margin-left: 390px; 
    margin-top: 60px;    
}
.exper01{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 2em;
    padding-bottom: 30px;
}
.ex002{
    padding-left: 40px;

}
h3{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: xx-large;
}
.ep002{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.ex003{
    padding-left: 90px;
    padding-top: 40px;
}
h5{
    font-size: x-large;
    padding-bottom: 20px;
}
.ul01{
    font-size: large;
}
.ul-002{
    padding-top: 20px;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.im033{
    position: relative;
    left: 400px;
    bottom: 200px;
}
.skills01{
  height: 530px;
    width: 950px;
    background-color: white;
    margin-left: 390px; 
    margin-top: 60px;  
}
.skil02{
     position: relative;
    top: 30px;
    left: 30px;
    font-size: 2em;
    padding-bottom: 30px;
}
.skill03{
    padding-top: 50px;
    padding-left: 40px;
}
.h2004{
    padding-left: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ps001{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.h6001{
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: larger;
}
.imj01{
    padding-top: 40px;
}
.contact01{
    height: 500px;
    width: 950px;
    background-color: white;
    margin-left: 390px; 
    margin-top: 60px;
    margin-bottom: 30px;
}
.h1004{
    position: relative;
    top: 40px;
    left: 30px;
    font-size: 3em;
    padding-bottom: 30px;
}
.center01{
    float: left;
}
.list01{
    padding-left: 40px;
padding-top: 90px;
font-size: 27px;
}
span{
    padding-left: 20x;
    padding-right: 10px;
    font-size: large;
    color: rgb(16, 172, 55);
}
.iconc01{
    padding-left: 70px;
    padding-top: 30px;
    font-size: 40px;
    color:rgb(16, 172, 55);
}
.input01{
position: relative;
left: 60px;
top: 50px;
}
.inc01{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.incc02{
    padding-left: 30px;
    padding-right: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.inc04{
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:10px ;
    padding-right: 240px;
}
.button01{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(16, 172, 55); ;
}